.employee {
    border-radius: 150%;
    width: 25%;
}

.banner {
    margin-top: 30px;
    height: 300px;
    background-color: #292950;
    color: white;
}

.sectionPerson:hover{
    background-color: #00DEB6;
    color: white;
    transition-duration: 1s;
}