.sliderimg {
    width: 100%;
}



.carousel-container {
    display: flex;
    flex-direction: column;
    margin-top: 6em;
    background-color: white;
}

.new-home {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 7em;
    background-color: #0C7A45;
    color: white;
    
}

.address-info {
    display: flex;
    gap: 5px;
    font-weight: 600;
}

.price-info {
    display: flex;
    font-weight: 600;
}

.property-info {
    display: flex;
    gap: 20px;

}

/* .alice-carousel__prev-btn,
.alice-carousel__next-btn {
    margin-right: 10em;
} */