div.footer {
    display: flex;
    flex-direction: column;
    max-height: 90%;
    max-width: 100%;
    align-items: center;
    background-color: rgb(143, 229, 235);
}

div.icons {
    display: block;
} 

img {
    height: 3em;
    width: 3em;
    padding-top: 10px;
    padding-right: 8px;
    filter: brightness(0) invert(0.5);
    transition: 0.1s;
}
img:hover {
    filter: brightness(0) invert(0);
    height: 3.2em;
    width: 3.2em;
}

p {
    width: max-content;
    justify-content: center;
}