/* CSS for the forms on the website */

.wrapper {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.title {
    text-decoration: bold;
    color: black;
    font-weight: bold;
}