.homeSearch {
    background-color: #00DEB6;
    border-style: none;
    border-radius: 10px;
    min-width: 40%;

}

div .searchNav {
    background-color: #00DEB6;
    align-items: center;
}

h2,
h4 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

.searchText {
    color:#262637;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: center;
}

a {
    max-width: 100%;
}



.searchBtn {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #262637;
    color: #00DEB6;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
    
}

#banner {
    padding-left: 3000px;
    margin-left: -3000px;
    padding-right: 3000px;
    margin-right: -3000px;
    overflow: visible;
    overflow-block:visible;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 300px;
    /* Set the height as needed */
    overflow: hidden;
}

.imageContainer img {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    z-index: -1;
}

.homeSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hotPropInfo, .popularHeading {
    color: #262637;
}

.alice-carousel {
    width: 50%;
    padding: 5px;
}

.alice-carousel__next-btn {
    text-align: left;
    color: white;
}

.alice-carousel__prev-btn {
    color: white;
}

.carousel-item {
    justify-content: center;
    width: 100%;
}

.carousel-container {
    width: 100%;
}

.propImg {
    width: 100%;
}


.overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #262637;
    cursor: pointer;
    z-index: 2;
}

.carouselContainer:hover {
    opacity: 1;
}