@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* General CSS styles for the website */
/* Common attributes are added in groups at the top */
/* Specific attributes are added toward the end of the page */
html, body, #root, .App, .App-header {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins";
}

nav, main {
    display: flex;
}

.App-header {
    flex-direction: column;
}

.delete-btn {
    width: min-content;
    height: min-content;
}

.layoutHeader {
    min-height: 10%;
    background-color: whitesmoke;
}

header, footer, li, a {
    display: flex;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);

}

nav {
    flex:auto;
    min-height: 100%;
    background-color: #BFD8AF;
    color: whitesmoke;
    list-style: none;
    text-decoration: none;
    gap: 1em;
    padding: 0 1em 0 1em; 
    align-items: center;
    border-radius: 0 0 1em 1em;
    text-wrap: nowrap;
    flex-wrap: wrap;
}

nav li:nth-child(2) {
    flex: auto;
}

li > a {
    font-weight: 700;
}

a {
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: 500;
    color: #555D50;
    text-decoration: none;
}

li a:hover {
    background-color: #E1F0DA;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

main {
    flex: auto;
    background-color: whitesmoke;
    padding: 0 15% 0 15%;
}

.sectionOne {
    flex: auto;
    padding: 1em;
    text-align: center;
    align-items: center;
}

div.footer {
    display: flex;
    flex-direction: column;
    /* max-height: 100%;
    max-width: 100%; */
    padding: 1em;
    align-items: center;
    background-color: #BFD8AF;
}

div.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2em;
    width: 3.2em;
} 

a > img {
    height: 3em;
    width: 3.2em;
    /* padding-right: 8px; */
    filter: brightness(0) invert(0.5);
    transition: 0.1s;
}
a > img:hover {
    filter: brightness(0) invert(0);
    height: 3.2em;
    width: 3.2em;
}

p {
    justify-content: center;
}